flask
pathlib
python-dotenv
PyJWT
Flask-SQLAlchemy
Flask-Migrate
flask-bcrypt
psycopg2
flask-jwt-extended
flask-mail
flask-cors
bcrypt
numpy
werkzeug
torch>=2.0.0
ultralytics>=8.0.0
pandas
opencv-python
numpy
scipy
easyocr
filterpy