platformdirs==4.3.6
platformdirs==3.10.0
typing_extensions==4.12.2
cssselect==1.2.0
sse-starlette==2.2.1
hstspreload==2025.1.1
filterpy==1.4.5
annotated-types==0.6.0
srsly==2.5.1
Jinja2==3.1.4
constantly==23.10.4
inflection==0.5.1
docx==0.2.4
astunparse==1.6.3
isoduration==20.11.0
tensorflow==2.18.0
jupyterlab-pygments==0.1.2
pywavelets==1.5.0
GitPython==3.1.37
Flask-Bcrypt==1.0.1
twine==4.0.2
tqdm==4.66.4
terminado==0.17.1
libmambapy==1.5.8
redis==5.2.1
autopep8==2.0.4
scikit-learn==1.4.2
fonttools==4.51.0
yfinance==0.2.49
imagesize==1.4.1
three-merge==0.1.1
python-slugify==8.0.4
python-lsp-server==1.10.0
Protego==0.1.16
Brotli==1.0.9
peewee==3.17.8
tifffile==2023.4.12
QDarkStyle==3.2.3
Mako==1.3.9
stringzilla==3.12.4
ptyprocess==0.7.0
astropy==6.1.0
opt_einsum==3.4.0
service-identity==18.1.0
googletrans==4.0.0rc1
cryptography==42.0.5
async-lru==2.0.4
albumentations==2.0.5
lazy_loader==0.4
prometheus-client==0.14.1
opencv-python==4.8.0.74
docutils==0.18.1
easyocr==1.7.2
referencing==0.30.2
libclang==18.1.1
more-itertools==10.1.0
wrapt==1.14.1
Flask-JWT-Extended==4.7.1
tzdata==2023.3
hvplot==0.10.0
wasabi==1.1.3
absl-py==2.1.0
colorama==0.4.6
parso==0.8.3
s3fs==2024.3.1
nvidia-cusolver-cu12==11.6.1.9
pkginfo==1.10.0
imbalanced-learn==0.12.3
websockets==14.2
python-dotenv==1.1.0
binaryornot==0.4.4
simsimd==6.2.1
tblib==1.7.0
text-unidecode==1.3
spacy-loggers==1.0.5
setuptools==75.1.0
setuptools==75.2.0
threadpoolctl==2.2.0
aiobotocore==2.12.3
sympy==1.13.1
Flask-Migrate==4.1.0
statsmodels==0.14.2
wcwidth==0.2.5
nvidia-nvtx-cu12==12.4.127
namex==0.0.8
pytz==2024.1
rfc3986-validator==0.1.1
rfc3986==1.4.0
ipython==8.25.0
Send2Trash==1.8.2
pylint==2.16.2
libarchive-c==2.9
chart-studio==1.1.0
nvidia-nccl-cu12==2.21.5
colorcet==3.1.0
jupyter_server_terminals==0.4.4
conda_index==0.5.0
nbformat==5.9.2
pycosat==0.6.6
mkl-service==2.4.0
fsspec==2024.3.1
json5==0.9.6
jupyterlab-widgets==1.0.0
pandas==2.2.2
flake8==7.0.0
requests-toolbelt==1.0.0
beautifulsoup4==4.12.3
conda-package-handling==2.3.0
black==24.4.2
jaraco.classes==3.2.1
pydantic_core==2.27.2
conda-build==24.5.1
w3lib==1.21.0
pyasn1-modules==0.2.8
streamlit==1.32.0
spyder-kernels==2.5.0
qstylizer==0.2.2
decorator==5.1.1
executing==0.8.3
attrs==23.1.0
qtconsole==5.5.1
patsy==0.5.6
parsel==1.8.1
widgetsnbextension==3.6.6
pykakasi==2.3.0
xyzservices==2022.9.0
truecallerpy==1.0.3
tensorboard-data-server==0.7.2
tables==3.9.2
python-json-logger==2.0.7
py4j==0.10.9.7
fastapi==0.103.2
Babel==2.11.0
filelock==3.13.1
cachetools==5.3.3
jsonschema-specifications==2023.7.1
scipy==1.13.1
Twisted==23.10.0
ipykernel==6.28.0
psycopg2==2.9.10
bleach==4.1.0
msgpack==1.0.3
itemadapter==0.3.0
cycler==0.11.0
imagecodecs==2023.1.23
yt-dlp==2025.1.15
incremental==22.10.0
spotdl==4.2.11
mcp==1.6.0
python-lsp-jsonrpc==1.1.2
huggingface-hub==0.28.1
sniffio==1.3.0
notebook==7.0.8
rpds-py==0.10.6
cffi==1.16.0
webencodings==0.5.1
certifi==2025.1.31
py-cpuinfo==9.0.0
requests-file==1.5.1
httpx-sse==0.4.0
cloudpickle==2.2.1
httpx==0.28.1
pytube==15.0.0
numba==0.59.1
multipledispatch==0.6.0
linkify-it-py==2.0.0
PyJWT==2.8.0
retrying==1.3.3
pexpect==4.8.0
rfc3339-validator==0.1.4
ruamel-yaml-conda==0.17.21
tensorboard==2.18.0
nest-asyncio==1.6.0
overrides==7.4.0
ipywidgets==7.8.1
pydantic==2.10.5
entrypoints==0.4
jellyfish==1.0.1
python-bidi==0.6.6
nvidia-cufft-cu12==11.2.1.3
pyct==0.5.0
numpydoc==1.7.0
blis==1.2.0
alembic==1.15.2
kiwisolver==1.4.4
jaconv==0.4.0
cmarkgfm==2022.10.27
pillow==10.3.0
click==8.1.7
markdown-it-py==2.2.0
weasel==0.4.1
aiohttp==3.9.5
jupyterlab==4.0.11
nvidia-cudnn-cu12==9.1.0.70
pydocstyle==6.3.0
semver==3.0.2
appdirs==1.4.4
mpmath==1.3.0
yapf==0.40.2
pyflakes==3.2.0
deep-translator==1.11.4
mkl-fft==1.3.8
lineareRegressionFromScrach==1.0.0
pyerfa==2.0.1.4
smart-open==5.2.1
cassandra-driver==3.29.2
pyviz_comms==3.0.2
navigator-updater==0.5.1
ytmusicapi==1.9.1
jupyter-console==6.6.3
dask-expr==1.1.0
mistune==2.0.4
ultralytics==8.0.114
websocket-client==1.8.0
Werkzeug==3.0.3
anaconda-anon-usage==0.4.4
datashader==0.16.2
python-lsp-black==2.0.0
svgwrite==1.4.3
notebook_shim==0.2.3
phonenumbers==8.13.43
zope.interface==5.4.0
python-snappy==0.6.1
nbclient==0.8.0
ml-dtypes==0.4.1
jupyterlab_server==2.25.1
contourpy==1.2.0
networkx==3.2.1
Scrapy==2.11.1
pymongo==4.10.1
wurlitzer==3.0.2
nvidia-cusparse-cu12==12.3.1.170
pyzmq==25.1.2
wordcloud==1.9.4
flatbuffers==25.2.10
lckr_jupyterlab_variableinspector==3.1.0
httpcore==1.0.7
language_data==1.3.0
gitdb==4.0.7
tldextract==3.2.0
QtAwesome==1.2.2
plotly==5.22.0
zstandard==0.22.0
regex==2023.10.3
dacite==1.8.1
frozenlist==1.4.0
nvidia-cublas-cu12==12.4.5.8
sphinxcontrib-htmlhelp==2.0.0
phoneinfopy==1.0.0.17
conda-pack==0.7.1
arrow==1.2.3
bokeh==3.4.1
spacy==3.8.4
intervaltree==3.1.0
dill==0.3.8
pycodestyle==2.11.1
joblib==1.4.2
jupyter_core==5.7.2
mypy==1.10.0
albucore==0.0.23
sentry-sdk==2.26.1
toml==0.10.2
PyDispatcher==2.0.5
wheel==0.44.0
yarl==1.9.3
jmespath==1.0.1
traitlets==5.14.3
SecretStorage==3.3.1
en_core_web_sm==3.8.0
sphinxcontrib-serializinghtml==1.1.10
resolvelib==1.0.1
jeepney==0.7.1
snowballstemmer==2.2.0
psutil==5.9.0
pathspec==0.10.3
multidict==6.0.4
jupyter-events==0.10.0
nbconvert==7.10.0
llvmlite==0.42.0
termcolor==2.5.0
Pygments==2.15.1
ninja==1.11.1.4
pyclipper==1.3.0.post6
menuinst==2.1.1
Faker==36.1.1
preshed==3.0.9
pyasn1==0.4.8
conda-libmamba-solver==24.1.0
pyparsing==3.0.9
cytoolz==0.12.2
anaconda-catalogs==0.2.0
pyodbc==5.0.1
cookiecutter==2.6.0
ipython-genutils==0.2.0
itemloaders==1.1.0
debugpy==1.6.7
smmap==4.0.0
keyring==24.3.1
ansible-core==2.18.1
xarray==2023.6.0
numpy==1.26.4
hpack==3.0.0
lz4==4.3.2
webcolors==24.11.1
jupyter_server==2.14.1
watchdog==4.0.1
protobuf==3.20.3
fontawesomefree==6.6.0
grpcio==1.70.0
unity-mcp==1.0.1
h5py==3.11.0
catalogue==2.0.10
svgling==0.5.0
spotipy==2.25.0
confection==0.1.5
nvidia-cusparselt-cu12==0.6.2
requests==2.32.3
zipp==3.17.0
setproctitle==1.3.5
conda-content-trust==0.2.0
idna==3.10
nvidia-curand-cu12==10.3.5.147
torch==2.6.0
anaconda-project==0.11.1
mypy-extensions==1.0.0
Flask==3.0.3
langdetect==1.0.9
opencv-python-headless==4.11.0.86
nvidia-cuda-runtime-cu12==12.4.127
jedi==0.18.1
six==1.16.0
zict==3.0.0
et-xmlfile==1.1.0
alabaster==0.7.16
seaborn==0.13.2
pytoolconfig==1.2.6
urllib3==2.2.2
Sphinx==7.3.7
pure-eval==0.2.2
kagglehub==0.3.11
pandocfilters==1.5.0
boltons==23.0.0
sphinxcontrib-devhelp==1.0.2
soundcloud-v2==1.6.0
gast==0.6.0
torchvision==0.21.0
queuelib==1.6.2
aioitertools==0.7.1
whatthepatch==1.0.2
blinker==1.6.2
optree==0.14.0
Bottleneck==1.3.7
rope==1.12.0
altair==5.0.1
docstring-to-markdown==0.11
packaging==23.2
HeapDict==1.0.1
nvidia-cuda-cupti-cu12==12.4.127
marisa-trie==1.2.1
Flask-Mail==0.10.0
distro==1.9.0
argon2-cffi-bindings==21.2.0
ply==3.11
mdit-py-plugins==0.3.0
Markdown==3.4.1
scikit-image==0.23.2
importlib-metadata==7.0.1
lazy-object-proxy==1.10.0
partd==1.4.1
conda-repo-cli==1.0.88
mutagen==1.47.0
isort==5.13.2
stack-data==0.2.0
h11==0.14.0
PySocks==1.7.1
shapely==2.1.0
pyxdg==0.27
spacy-legacy==3.0.12
ansible==11.1.0
html5lib==1.1
thinc==8.3.4
Rtree==1.0.1
comm==0.2.1
tenacity==8.2.2
geomet==0.2.1.post1
sortedcontainers==2.4.0
pywaffle==1.1.1
starlette==0.46.1
intake==0.7.0
pickleshare==0.7.5
jsonschema==4.19.2
triton==3.2.0
pyls-spyder==0.4.0
atomicwrites==1.4.0
cymem==2.0.11
jupyter-lsp==2.2.0
pathlib==1.0.1
tornado==6.4.1
nltk==3.8.1
Automat==20.2.0
numexpr==2.8.7
soupsieve==2.5
keras==3.8.0
anyio==4.9.0
hyperlink==21.0.0
ruamel.yaml==0.17.21
defusedxml==0.7.1
readme-renderer==40.0
rocketByMe==1.0.0
distributed==2024.5.0
tokenizers==0.21.0
pluggy==1.0.0
greenlet==3.0.1
murmurhash==1.0.12
gensim==4.3.3
astroid==2.14.2
Flask-SQLAlchemy==3.1.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
pylint-venv==3.0.3
pyarrow==14.0.2
conda-token==0.5.0+1.g2209e04
MarkupSafe==2.1.3
docker-pycreds==0.4.0
wandb==0.19.9
conda==24.11.3
tabulate==0.9.0
Unidecode==1.2.0
PyYAML==6.0.1
anaconda-cloud-auth==0.5.1
lxml==5.2.1
conda_package_streaming==0.10.0
textdistance==4.2.1
truststore==0.8.0
dnspython==2.7.0
diff-match-patch==20200713
jupyter_client==8.6.0
aiosignal==1.2.0
pyOpenSSL==24.0.0
langcodes==3.5.0
botocore==1.34.69
pydeck==0.8.0
archspec==0.2.3
SQLAlchemy==2.0.30
astropy-iers-data==0.2024.6.3.0.31.14
questionary==2.0.1
holoviews==1.19.0
sphinxcontrib-qthelp==1.0.3
syncedlyrics==1.0.1
argon2-cffi==21.3.0
tomli==2.0.1
prompt_toolkit==3.0.47
ujson==5.10.0
locket==1.0.0
shellingham==1.5.4
uc-micro-py==1.0.1
mkl-random==1.2.4
mccabe==0.7.0
anaconda-client==1.12.3
mdurl==0.1.0
uvicorn==0.23.2
toolz==0.12.0
cloudpathlib==0.20.0
RapidFuzz==3.11.0
sphinxcontrib-applehelp==1.0.2
word-piece-tokenizer==1.0.1
iniconfig==1.1.1
tinycss2==1.2.1
QtPy==2.4.1
multitasking==0.0.11
itsdangerous==2.2.0
tomlkit==0.11.1
PyQtWebEngine==5.15.6
pkce==1.0.3
Cython==3.0.12
google-pasta==0.2.0
uri-template==1.3.0
asttokens==2.0.5
fastjsonschema==2.16.2
chardet==3.0.4
pycparser==2.21
pycurl==7.45.2
panel==1.4.4
charset-normalizer==2.0.4
lmdb==1.4.1
imageio==2.33.1
PyQt5==5.15.10
nvidia-cuda-nvrtc-cu12==12.4.127
bcrypt==3.2.0
spyder==5.5.1
matplotlib-inline==0.1.6
param==2.1.0
pip==25.0.1
sip==6.7.12
jupyter==1.0.0
pyspark==3.5.4
unicodedata2==15.1.0
anaconda-navigator==2.6.0
jsonpatch==1.33
hyperframe==5.2.0
typer==0.15.1
PyQt5-sip==12.13.0
sphinxcontrib-jsmath==1.0.1
fqdn==1.5.1
flask-cors==5.0.1
pydantic-settings==2.8.1
ultralytics-thop==2.0.14
h2==3.2.0
nvidia-nvjitlink-cu12==12.4.127
pytest==7.4.4
jsonpointer==2.1
rich==13.9.4
frozendict==2.4.2
dask==2024.5.0
openpyxl==3.1.2
Deprecated==1.2.15
matplotlib==3.8.4
typing_extensions==4.12.2
importlib_metadata==8.0.0
autocommand==2.2.2
backports.tarfile==1.2.0
jaraco.collections==5.1.0
typeguard==4.3.0
jaraco.functools==4.0.1
zipp==3.19.2
packaging==24.1
platformdirs==4.2.2
wheel==0.43.0
inflect==7.3.1
jaraco.text==3.12.1
tomli==2.0.1
more-itertools==10.3.0
jaraco.context==5.3.0
importlib_resources==6.4.0
